
@font-face {
    font-family: 'univers_condensedbold';
    src: url('unvr67w_0b-webfont.eot');
    src: url('unvr67w_0b-webfont.eot?#iefix') format('embedded-opentype'),
         url('unvr67w_0b-webfont.woff2') format('woff2'),
         url('unvr67w_0b-webfont.woff') format('woff'),
         url('unvr67w_0b-webfont.ttf') format('truetype'),
         url('unvr67w_0b-webfont.svg#univers_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}