<!-- <div style=" display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   flex-wrap:wrap;
      display: flex;
      width: 100%;">

  <%= @num%>
  </div>
   -->

<!-- <link rel="stylesheet" href="assets/stylesheets/barcode-3.css" type="text/css"> -->
<!-- <link rel="stylesheet" href="assets/fonts/stylesheet.css" type="text/css"> -->


<%= render 'qr_codes_partial', { qr_codes: @qr_codes } %>

<%=paginate(@kaminari_ary, {total_pages: @total_pages, current_page: params[:page].to_i, per_page: 24})%>

<%= link_to "Export", qr_codes_export_to_pdf_path(total_count: @total_count), remote: true %>
