


@font-face {
    font-family: 'univers_condensedmedium';
    src: url('unvr57w_0m-webfont.eot');
    src: url('unvr57w_0m-webfont.eot?#iefix') format('embedded-opentype'),
         url('unvr57w_0m-webfont.woff2') format('woff2'),
         url('unvr57w_0m-webfont.woff') format('woff'),
         url('unvr57w_0m-webfont.ttf') format('truetype'),
         url('unvr57w_0m-webfont.svg#univers_condensedmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}