
* {
margin:0;
padding:0;
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    margin:0;
    padding:0;
	width:100%;
	height:100%;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	margin:0;
padding:0;
width:100%;
	height:100%;
	background-color:#ffffff;
}


a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #000;
}
a:active {
	text-decoration: none;
	color: #F0F0F0;
}




img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	 border: 0; /* 1 */
    -ms-interpolation-mode: bicubic;
}


iframe {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	 border: 0; /* 1 */
    -ms-interpolation-mode: bicubic;
}


.fedex-main-box-3 {
	width: 2.5in;
    height: 1.25in;

	overflow:auto;
	background-color:#ffffff;





}

.barcode-3-box-header {
	width: 2.5in;


	margin:0px auto;
	margin-bottom:14px;



}

.gap-3 {

height:10px;

}
.barcode-3-box-header h1 {
	font-size:19px;
	font-weight:bold;
	font-family: 'univers_condensedbold';
	text-align:center;
	color:#000000;


}


.barcode-3-box-content {
	width: 2.5in;

	margin:0px auto;
	margin-top:3px;


}

.barcode-3-box-left {

	float:left;
	width:50%;


}

.barcode-3-box-left h5 {

	font-size:15px;
	font-weight:700;
	font-family: 'Oswald', sans-serif;
	text-align:left;
	color:#272525;


}

.barcode-3-box-left h6 {


	font-family: 'Universal Condensed' , sans-serif;
	text-align:left;
	color:#272525;
	font-size:7px;
	font-weight:normal;


}

.barcode-3-box-left h6 strong {



	font-size:9px;
	font-weight:normal;
	font-family: 'univers_condensedbold';
	text-align:center;
	color:#272525;
	float:right;


}

.barcode-3-box-left h6 strong span {



	font-size:12px;
	font-weight:bold;
	font-family: 'univers_condensedbold';
	text-align:right;
	color:#272525;



}

.barcode-3-box-left h2 {

	font-size:31px;
	font-weight:normal;
	font-family: "Bar-Code 39";
	text-align:left;
	color:#272525;


}

.barcode-3-box-left h4 {

	font-size:15px;
	font-weight:normal;
	font-family: 'Oswald', sans-serif;
	text-align:center;
	color:#272525;


}

.barcode-3-box-left h4 strong {

	margin-left:10px;
	padding:0px 8px;

	background-color:#eb0000;
	font-size:15px;
	font-weight:bold;
	font-family: 'Oswald', sans-serif;
	text-align:right;
	color:#272525;


}

.barcode-3-box-left h1 {

	font-size:38px;
	font-weight:700;
	font-family: 'univers_condensedbold';
	text-align:left;
	color:#000000;
	margin-top:0;
	padding-left:15px;


}

.barcode-3-box-left h1 sup {

	font-size:24px;
	font-weight:700;
	font-family: 'univers_condensedbold';
	text-align:left;
	color:#000000;



}

.barcode-3-box-left h3 {

	font-size:14px;
	font-weight:700;
	font-family: 'univers_condensedbold';
	text-align:center;
	color:#272525;
	padding-left:20px;
	margin-top: -9px;


}


.barcode-div {
	width:100%;
	margin:0;
	padding:0;

}

.fix-heading-1 {
	position: relative;
    top: 2px;
}

.fix-heading-2 {
	position: relative;
    top: -5px;
}

.fedex-barcode-small img {
	height: 21px;
	    width: 98%;


}
