// Place all the styles related to the qr_codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination a, .pagination span.current, .pagination span.gap {
	float: left;
	padding: 0 14px;
	line-height: 25px;
	text-decoration: none;
	background-color: #9B9B9B;
	border: 1px solid #DDD;
	border-left-width: 0;
}

.page.current {
    border: 1px solid #DDD;;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
}

.listing_qrcodes{
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap:wrap;
  display: flex;
  background-color: #ffffff;
  width: 100%; padding: 30px 30px
}

.pagination {
	border-left: 1px solid #ddd;
	.first{
		padding : 0;
		float: none;
		border: none;
	}
	.prev {
		padding : 0;
		float: none;
		border: none;
	}
	.page{
		padding : 0;
		float: none;
		border: none;
	}
	.next{
		padding : 0;
		float: none;
		border: none;
	}
	.last{
		padding : 0;
		float: none;
		border: none;
	}
}

.hide{
	display: none;
}

.float_left{
	float: left;
}

.float_right{
	float: right;
}
